<div id="f_main">
  <h1>Welcome to Inspirovation</h1>
  <h2>What is inspirovation?</h2>
  <p>Good question.  You start out by creating the name of your idea, the idea's statement which is a 120 character expression of why your idea is useful and a brief summary of how the idea works. Once you have completed this you can then begin to focus on the "Idea Web" which allows you to go in and formulate further your idea by adding blocks that break down the idea into smaller pieces. You can then proceed to create goals and milestones, find opportunities and motivations, and get feedback about your idea. If you work hard and maybe with a little luck, who knows your idea might become reality.</p>
</div>
